html {
    height: 100%;
}

body {
    background-color: rgb(78, 82, 78);
    background-image: url(images/rachael-gorjestani-X6CZGpJBi8U-unsplash\ \(2\).jpg); 
    background-size: cover;
    background-blend-mode: soft-light;
    background-repeat: repeat; 
    background-position: center;  
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    height: 118px;
    width: 1024px;
    text-align: center;
}

nav {
    height: 20px;
    width: 1024px;
    opacity: 0.6;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

main {
    height: 3000px;
    width: 1024px;
}

.statement {
    font-size: 25px;
}

p {
    font-size: 22px;
    color: white;
    display: block;
    text-align: auto;
    font-family: Arial, Helvetica, sans-serif;  
}

.typewriter p {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    border-right: .5em solid white; /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
    typing 8.5s steps(40, end),
    blink-caret;
    animation-iteration-count: infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

.ml1 {
    font-weight: 900;
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    margin-top: 40px;
    text-align: center;
}

.ml1:hover {
    animation: shake 0.8s;
}

@keyframes shake{ 
    0%{ 
      transform: translateX(0) 
    } 
    25%{ 
      transform: translateX(25px); 
    } 
      
    50%{ 
      transform: translateX(-25px); 
    } 
    100%{ 
      transform: translateX(0px); 
    } 
} 

.ml2 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    margin-top: 40px;
    text-align: center;
}

.ml2 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
}

h2 {
    font-size: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 60px;
    margin-top: 60px; 
    text-align: left; 
}

h2:hover {
    animation: shake 0.8s;
}

@keyframes shake{ 
    0%{ 
      transform: translateX(0) 
    } 
    25%{ 
      transform: translateX(25px); 
    } 
      
    50%{ 
      transform: translateX(-25px); 
    } 
    100%{ 
      transform: translateX(0px); 
    } 
}

.textwrap {
    float: left;
    margin-right: 10px;
    padding-bottom: 40px;
}

.textwrap2 {
    float: right;
    margin-left: 10px;
    padding-bottom: 40px;   
}

.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 20px;
}

.zoomImage {
    border: 5px transparent;
    outline: 1px transparent;
    width: 400px;
    height: 300px;
    overflow: hidden;
}

.zoomImage img {
    width: 400px;
    height: 300px;
    max-width: 100%;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}

.zoomImage img:hover {
    -moz-transform: scale(2) rotate(0deg);
    -webkit-transform: scale(2) rotate(0deg);
    -o-transition: scale(2) rotate(0deg);
    -ms-transform: scale(2) rotate(0deg);
    transform: scale(2) rotate(0deg);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;    
}

.zoomImage_2 {
    border: 5px transparent;
    outline: 1px transparent;
    width: 400px;
    height: 300px;
    overflow: hidden;
}

.zoomImage_2 img {
    width: 400px;
    height: 300px;
    max-width: 100%;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}

.zoomImage_2 img:hover {
    -moz-transform: scale(2) rotate(0deg);
    -webkit-transform: scale(2) rotate(0deg);
    -o-transition: scale(2) rotate(0deg);
    -ms-transform: scale(2) rotate(0deg);
    transform: scale(2) rotate(0deg);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;    
}

a {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    height: 20px;
    width: 1024px;
    margin-top: 100px;
    text-align: center; 
    font-size: 10px;
    opacity: 0.6;
    background-color: black;
}